<div class="login" fxFlexFill>
    <div class="content">
        <mat-card class="text-center p-2">
            <mat-card-content class="p-2">
                <h2>Sign In</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(loginForm.value)">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-md="100" xFlex.gt-sm="100">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label><mat-icon>account_circle</mat-icon>Username</mat-label>
                                <input matInput type="text" placeholder="Username" formControlName="username" required>
                                <mat-error *ngIf="loginForm.controls.username.errors?.required">Username is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-md="100" xFlex.gt-sm="100">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label><mat-icon>lock</mat-icon>Password</mat-label>
                                <input matInput type="password" placeholder="Password" formControlName="password" required>
                                <mat-error *ngIf="loginForm.controls.password.errors?.required">Password is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="100" xFlex.gt-sm="100">
                            <button mat-fab color="primary" class="mat-elevation-z6">
                                <mat-icon>exit_to_app</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>